body {
  background-image: linear-gradient(to top left, #085078, #85d8ce);
  background-repeat: no-repeat;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 5% 0 10% 30%;
  font-weight: 700;
}
h1 {
  margin-bottom: 5%;
}
.form-group input {
  width: 60% !important;
}
label {
  padding-bottom: 1%;
  font-weight: 700;
}
.form-group {
  padding-bottom: 1%;
}
.form-inline select {
  margin-left: 2%;
  width: 20%;
}
textarea {
  width: 60% !important;
}
